.App {
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #555;
  height: 70px;
  padding: 20px;
  color: white;
  display: flex;
}

.App-header-text {
  align-self: center;
  font-size: x-large;
  padding-left: 35px;
}

.App-new-sighting-link {
  height: 35px;
  align-self: center;
  margin-left: auto;
  order: 2;
  color: white;
  font-size: x-large;
}
