.App {
  text-align: center;
}

.App-logo {
  float: left;
  height: 80px;
  width: 45px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
