label.cameraButton {
      display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
        outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
        padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
        -webkit-appearance: button;
            border-radius: 6px;


}

label.cameraButton input[accept*="camera"] {
  display: none;
}