.new-sightings-pin-image {
    position: absolute;
    height: 40px;
    margin-left: 200px;
    margin-top: 175px;
    z-index: 1000;
}

.new-sighting-map {
    height: 400px;
    width: 410px;
}


@media only screen and (max-width: 768px) {
    height: 300px;
    width: 100%;
}

.animal-type-button {
    height: 51px;
    margin: 1px;
}